<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Componentes Estaticos</title>

    <style>
        #etiqueta{
            background:lightcyan;
            margin: 10px;
            padding: 10px;
            font-family: sans-serif;
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    
    <div id="app">
        <h3>Adicione mais planos...</h3>
       
        <form-plano></form-plano>
        <etiqueta
            v-for="(titulo, index) in titulos"
            :key="titulo.id"
            :titulo="titulo.titulo"
            v-on:deletar="(titulos.splice(index,1))">
        </etiqueta>
    </div>

    <script src="./vue.js"></script>
    
    <script type="text/x-template" id="etiqueta-temp">
        <div id="etiqueta">
            <span>{{titulo}}</span>
            <button @click="$emit('deletar')">Remover</button>
        </div>
    </script>

    <script type="text/x-template" id="form-template">
        <form action="" @submit.prevent="adicionarPlano">
            <input type="text" placeholder="Novo plano" v-model="novoPlano">
            <button>Adicionar</button>
        </form>
    </script>

    <script src="./script.js"></script>
</body>
</html>